#search{
    text-align: right;
    float:right;
}
body{
    background-color: red;
}
div.jumbotron{
    height: 500px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }